

#orange{
    height: 800px;
    width: 860px;
    background-color: orange;
    justify-content: center
    text-align: center;
}
.button {
    padding: 10px;
    justify-items: center
    
}
.tab { 
    display:inline-block; 
    margin-left: 40px; 
}